.profile-group-transition {
  min-height: 350px;
  position: relative;

  [data-fields-group] {
    position: absolute;
    left:0;
    top:0rem;
    width: 100%;
  }
  .profile-group-hidden {
    width: 100%;
    z-index: -1;
    .profile-input,
    .profile-group__title-block {
      transform: translateX(150%);
    }
  }

  .profile-group-current {
    opacity: 1;
    .profile-input,
    .profile-group__title-block {
      transform: translateX(0);
    }
  }

  .profile-group-transition-start {
    .profile-group__title-block {
      transition: transform .2s;
      transform: translateX(0);
    }
    .profile-input:nth-child(1) {
      transition: transform .4s .2s;
      transform: translateX(0);
    }
    .profile-input:nth-child(2) {
      transition: transform .5s .3s;
      transform: translateX(0);
    }
    .profile-input:nth-child(3) {
      transition: transform .6s .4s;
      transform: translateX(0);
    }
    .profile-input:nth-child(4) {
      transition: transform .7s .5s;
      transform: translateX(0);
    }
  }

  .profile-group-transition-end {
    .profile-group__title-block {
      transition: transform .2s;
      transform: translateX(-150%);
    }
    .profile-input:nth-child(1) {
      transition: transform .5s;
      transform: translateX(-150%);
    }
    .profile-input:nth-child(2) {
      transition: transform .6s;
      transform: translateX(-150%);
    }
    .profile-input:nth-child(3) {
      transition: transform .7s;
      transform: translateX(-150%);
    }
    .profile-input:nth-child(4) {
      transition: transform .8s;
      transform: translateX(-150%);
    }
  }
}
