#FallBackResource /
#RewriteEngine On
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
#RewriteRule ^index\.html$ https://alexkole113.github.io/ [R=301,L]
#
#<IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteBase /
#  RewriteRule ^index\.html$ - [L]
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteCond %{REQUEST_FILENAME} !-l
#  RewriteRule . /dist/index.html [L]
#  RewriteCond %{HTTP:X-Forwarded-Proto} !https
#  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#</IfModule>

