.category-list {
  &__items {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 0 -20% 0;
      padding: .8rem;

      .app-btn {
        margin-right: 1.1rem;
        opacity: .6;
        &.active-btn {
          opacity: 1;
        }
      }

      .app-btn:first-child {
        margin-left: 11%;
      }
  }
}
