.category-list {
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  position: relative;
  z-index: 2;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__items {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      padding: .85rem 0;
      a {
        margin-right: 1.1rem;
        opacity: .6;
      }

      a:first-child {
        margin-left: 1.4rem;
      }
  }
}

