@import "../../../styles/partials/mixins";
.menu {
  padding-top: .55rem;
  padding-bottom: 1.85rem;
  position: relative;
  z-index: 200;
  margin-bottom: 1.5rem;
  &:before {
    content: '';
    position: absolute;
    transform: translateX(-1.5rem) translateY(-11.875rem);
    will-change: transform;
    height: 270%;
    background-color: #f4f4f4;
    z-index: -1;
    width: 115%;
    box-shadow: -2px 3px 10px #0000004a;
    transition: transform .6s;
    border-radius: 0 0 100% 70%;
    filter: drop-shadow(0px 0px 3px gray);
  }
  &-top {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    height: 2rem;
    align-items: center;
    margin-bottom: 2.575rem;
    &__hum {
      width: 2rem;
      text-align: right;
    }
    &__page-title {
      @import "../../PageTitle/styles/index.scss";
    }
  }
  &-main-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
.menu-opened {
  overflow: hidden !important;
  height: 100vh;
  display: none;
  &:before {
    opacity: .6;
    transform: scale(10) translateY(0);
  }
  .menu {
    height: 100%;
    &:before {
      transform: translateX(-27%) translateY(-9rem) scale(1.75);
    }
  }
}

@import "partials/transitions";
@import "../components/Hamburger/styles/index";
@import "partials/main-menu";
@import "partials/additional-menu";
