@import "../../../styles/partials/mixins";

.menu {
  padding-top: .4rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;


  &:before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: -11.875rem;
    height: 270%;
    background-color: #f4f4f4;
    z-index: -1;
    border-radius: 0 0 242% 126%;
    width: 115%;
    box-shadow: -2px 3px 10px #0000004a;
  }

  &-top {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    height: 2rem;
    align-items: center;
    margin-bottom: 2.575rem;

    &__hum {
      width: 2rem;
      text-align: right;
    }

    &__page-title {
      .page-title {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-family-title);
        font-weight: var(--font-weight-title);
        font-size: 1.25rem;
      }
    }

  }

  &-main-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

}

.mobile-wrapper:before{
  content: '';
  position: absolute;
  background: linear-gradient(
                  135deg
          , var(--red-link), var(--violet-link));
  z-index: 1;
  opacity: .6;
  left: -0.5rem;
  top: -2.3125rem;
  height: 10.3rem;
  border-radius: 0 0 180% 95%;
  width: 86%;
  box-shadow: -2px 3px 10px #0000004a;
}

//menu opened
body.menu-opened {
  overflow: hidden;
  .hamburger {
    transform: rotate(90deg);
  }
}

.menu-opened .mobile-wrapper:before{
  left:0;
  opacity: .6;
  transform: scale(10);
}


.menu {
  &.menu-opened {
    height: 100%;
  }

  &.menu-opened:before {
    height: 264%;
    left: -45%;
    top: -2rem;
    background-color: #f4f4f4;
    z-index: -1;
    border-radius: 0 0 100% 70%;
    width: 153%;
    filter: drop-shadow(0px 0px 3px gray);
  }

}


@import "partials/main-menu";
@import "partials/hamburger";
@import "partials/additional-menu";
@import "partials/transitions";
