.preloader {

  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.main {
    position: absolute;
    top:0;

    img {
      height: auto;
    }

  }

}

// https://icons8.com/preloaders/en/miscellaneous/rhombus/
