.category-list-transition {
  position: relative;
  background: transparent;
  &-group {
    transition: all .6s;

    &.category-group-hidden {
      position: absolute;
      left:0;
      top:0;
      .product-card,
      .search {
        transform: translateY(-16.35rem);
        opacity: 0;
      }
    }

    &.category-group-current {
      opacity: 1;
    }

    &.category-group-transition-start {
      position: absolute;
      left:0;
      top:0;
      .search {
        transition: all .8s;
        opacity: 1;
        transform: translateY(0rem);
      }

      .product-card:nth-child(1) {
        transition: all .8s;
        opacity: 1;
        transform: translateY(0rem);
      }
      .product-card:nth-child(2) {
        transition: all 1.2s;
        opacity: 1;
        transform: translateY(0rem);
      }
      .product-card:nth-child(3) {
        transition: all 1.6s;
        opacity: 1;
        transform: translateY(0rem);
      }
      .product-card:nth-child(4) {
        transition: all 2s;
        opacity: 1;
        transform: translateY(0rem);
      }
    }

    &.category-group-transition-end {
      .search {
        transition: all .8s;
        opacity: 0;
        transform: translateY(16.35rem);
      }

      .product-card:nth-child(1) {
        transition: all .8s;
        opacity: 0;
        transform: translateY(16.35rem);
      }
      .product-card:nth-child(2) {
        transition: all 1.4s;
        opacity: 0;
        transform: translateY(16.35rem);
      }
      .product-card:nth-child(3) {
        transition: all 1.6s;
        opacity: 0;
        transform: translateY(16.35rem);
      }
      .product-card:nth-child(4) {
        transition: all 2s;
        opacity: 0;
        transform: translateY(16.35rem);
      }


    }


  }
}


