.keyword {
  font-weight: 600;
  padding-right: 5px;
}
.whereFound {
  padding: 0 5px;
}
.productName {
  padding: 0 5px;
}
.item {
  margin: .75rem 0 0;
  padding-bottom: .25rem;
}
.link {
  text-decoration: none;
  color: var(--black-text);
}
