:root {
  --light-orange: #eec499;
  --pink: #ff66a3;

  --black-text: #444444;
  --gray-text: #979797;
  --violet-text: #7660ff;

  --blue-link:#508eff;
  --red-link: #fd5760;
  --violet-link:#bd94fb;


  --shadow-pink:#ff66a3;
  --shadow-green: #13c313;
  --shadow-blue: #508eff;
  --shadow-violet: #bd94fb;


  --brand-linear-gradient: linear-gradient(180deg, var(--light-orange), var(--pink));
}
