:root {
  --orange-light: #eec499;

  --pink: #ff66a3;

  --white: #ffffff;

  --green: #46821b;
  --green-light:#a2cc72;
  --green-middle: #76d62f;

  --black: #000000;
  --black-text: #444444;


  --gray-text: #979797;
  --gray-main-menu-back: #f4f4f4;
  --gray-settings-control: #e4e4e4;

  --violet-text: #7660ff;
  --violet-link:#bd94fb;

  --blue-link:#508eff;
  --blue-switcher-default-active: #4983ee;

  --red-link: #fd5760;
  --red-invalid-field: #f2878c;

  --shadow-pink:#ff66a3;
  --shadow-green: #13c313;
  --shadow-blue: #508eff;
  --shadow-violet: #bd94fb;

  --black-footer-background: #000000;
  --dark-footer-background: #4a4a4a;
  --light-footer-text-color: #a9a9a9;

  --back-switcher-default: linear-gradient(114deg, #ffff, #f4f4f4);
  --brand-linear-gradient: linear-gradient(180deg, var(--orange-light), var(--pink));
}
