:root {
  --orange-light: #eec499;

  --pink: #ff66a3;

  --white: #ffffff;

  --green: #46821b;
  --green-light:#a2cc72;
  --green-middle: #76d62f;

  --black: #000000;
  --black-text: #444444;

  --gray-text: #979797;
  --gray-main-menu-back: #f4f4f4;
  --gray-settings-control: #e4e4e4;

  --violet-text: #7660ff;
  --violet-link: #bd94fb;

  --blue-link: #508eff;
  --blue-switcher-default-active: #4983ee;

  --red-link: #fd5760;
  --red-invalid-field: #f2878c;
  --dangerous-zone:  #fd5760;

  --shadow-pink:#ff66a3;
  --shadow-green: #13c313;
  --shadow-blue: #508eff;
  --shadow-violet: #bd94fb;

  --dark-footer-background: #4a4a4a;
  --light-footer-text-color: #fff;

  --back-switcher-default: linear-gradient(114deg, #ffff, #f4f4f4);
  --brand-linear-gradient: linear-gradient(180deg, var(--orange-light), var(--pink));

  --background-gradient-cat-1: linear-gradient(180deg, rgb(238,196,153)20%, rgb(255,102,163)80%) ;
  --background-gradient-cat-2: linear-gradient(180deg, rgb(162,204,114)20%, rgb(70,130,27)80%);
  --background-gradient-cat-3: linear-gradient(180deg, rgb(183,248,219)20%, rgb(80,167,194)80%);
  --background-gradient-cat-4: linear-gradient(180deg, rgb(255,88,88)20%,   rgb(240,152,25)80%);
}


