* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--content-size);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;

  &.state {
    &-loading {
      overflow: hidden;
    }
  }
}

.container {
  padding-left:  1rem;
  padding-right: 1rem;
}


