@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

:root {
  --font-family-title: 'Karla', sans-serif;
  --font-family-regular: 'Karla', sans-serif;
  --font-family-price: 'Oswald', sans-serif;
  --font-weight-title: 700;
  --font-weight-regular: 400;


}
