@import "./partials/mixins";
.tech-stack {
  display: none;
  padding: 0rem 1rem 2rem;
  order: 10;
  @include sm {
    display: block;
  }
  @include xl {
    order: -1;
  }
  &__title {
    font-size: 2.75rem;
    margin: 1rem 0;
  }
  &__list {

  }
  &__item {
    margin-bottom: .5rem
  }
}
@include sm {
  :root {
    --content-size: 16px;
    --body-perspective: 1400px
  }
  body {
    perspective: var(--body-perspective);
    backface-visibility: hidden;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    background: url('../../demo-assets/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 991px;
    min-width: 450px;
    margin: auto;
  }
}

@import "mobile-wrapper";







