.settings-theme {
  --background-theme: linear-gradient(180deg, rgb(80,142,255) 20%, rgb(189,148,251) 450%);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var(--violet-link), #6097f1);
  --shadow-theme: 1px 4px 8px var(--shadow-pink);
  --btn-theme: linear-gradient(180deg, var(--orange-light), var(--pink));
  --color-theme: var(--pink);
  --color-theme-secondary: var(--violet-link);
  --text-color-theme: var(--white);
}

.profile-theme {
  --background-theme:  var(--background-gradient-cat-2);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var( --green-light), var(--green));
  --shadow-theme:1px 4px 8px var(--shadow-green);
  --btn-theme:linear-gradient(180deg, #a6d367, #67b443 );
  --color-theme: var(--green);
  --color-theme-secondary: var( --green-light);
  --text-color-theme: var(--white);
}

.contact-theme {
  --background-theme:  linear-gradient(180deg, rgb(253,87,96) 20%, rgb(253,87,96) 80%);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var(--white), var(--red-link) );
  --shadow-theme:1px 4px 8px var(--shadow-pink);
  --btn-theme: linear-gradient(180deg, var(--orange-light), var(--pink));
  --color-theme: var(--red-link);
  --color-theme-secondary: var(--orange-light);
  --text-color-theme: var(--white);
}

.cart-theme {
  --background-theme:  linear-gradient(180deg, rgb(207,218,255) 20%, rgb(183,219,250) 80%);
  --mobile-wrapper-menu-theme: var(--black-text);
  --shadow-theme:1px 4px 8px var(--black-text);
  --btn-theme: linear-gradient(135deg, var(--violet-link), #6097f1);
  --color-theme: #94b9ff;
  --color-theme-secondary: rgb(207,218,255);
  --text-color-theme:  var(--black-text);
}

.favorites-theme {
  --background-theme:  linear-gradient(180deg, rgb(207,218,255) 20%, rgb(183,219,250) 80%);
  --mobile-wrapper-menu-theme: var(--black-text);
  --shadow-theme:1px 4px 8px var(--black-text);
  --btn-theme: linear-gradient(135deg, var(--violet-link), #6097f1);
  --color-theme: #94b9ff;
  --color-theme-secondary: rgb(207,218,255);
  --text-color-theme:  var(--black-text);
}


//category
.flowers-theme,
.cat-1 {
  --background-theme: var(--background-gradient-cat-1);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var(--red-link), var(--violet-link));
  --shadow-theme:1px 4px 8px var(--shadow-pink);
  --btn-theme:linear-gradient(180deg, var(--orange-light), var(--pink));
  --color-theme: var(--pink);
  --color-theme-secondary: var(--orange-light);
  --text-color-theme: var(--black-text);
}

.plants-theme,
.cat-2 {
  --background-theme:  var(--background-gradient-cat-2);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var( --green-light), var(--green));
  --shadow-theme:1px 4px 8px var(--shadow-green);
  --btn-theme:linear-gradient(180deg, #a6d367, #67b443 );
  --color-theme: var(--green);
  --color-theme-secondary: var(--green-light);
  --text-color-theme: var(--black-text);
}

.trees-theme,
.cat-3 {
  --background-theme:  var(--background-gradient-cat-3);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, #B7F8DB, #50A7C2);
  --shadow-theme:1px 4px 8px #50A7C2;
  --btn-theme:linear-gradient(180deg, #B7F8DB, #50A7C2 );
  --color-theme: #50A7C2;
  --color-theme-secondary: var(#B7F8DB);
  --text-color-theme: var(--black-text);
}

.popular-theme,
.cat-4 {
  --background-theme: var(--background-gradient-cat-4);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, #ff5858, #f09819);
  --shadow-theme:1px 4px 8px #f09819;
  --btn-theme:linear-gradient(180deg,  #ff5858 , #f09819 );
  --color-theme: #ff5858;
  --color-theme-secondary: var(#f09819);
  --text-color-theme: var(--black-text);
}
