@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap");
:root {
  --content-size: 5vw;
  --side-spacing: 1.5rem;
  --standard-container-width: initial; }
  @media (min-width: 520px) {
    :root {
      --content-size: 2.58vw; } }
  @media (min-width: 767.98px) {
    :root {
      --content-size: 2.08vw;
      --side-spacing: 2.5rem; } }
  @media (min-width: 1024px) {
    :root {
      --content-size: 18px;
      --standard-container-width: 850px; } }
  @media (min-width: 1400px) {
    :root {
      --content-size: 18px;
      --standard-container-width: 1120px; } }
  @media (min-width: 1920px) {
    :root {
      --content-size: 18px;
      --standard-container-width: 1600px; } }

:root {
  --light-orange: #eec499;
  --pink: #ff66a3;
  --black-text: #444444;
  --gray-text: #979797;
  --violet-text: #7660ff;
  --blue-link:#508eff;
  --red-link: #fd5760;
  --violet-link:#bd94fb;
  --shadow-pink:#ff66a3;
  --shadow-green: #13c313;
  --shadow-blue: #508eff;
  --shadow-violet: #bd94fb;
  --brand-linear-gradient: linear-gradient(180deg, var(--light-orange), var(--pink)); }

:root {
  --font-family-title: 'Karla', sans-serif;
  --font-family-regular: 'Karla', sans-serif;
  --font-weight-title: 700;
  --font-weight-regular: 400; }

.shadow-pink {
  box-shadow: 1px 4px 8px var(--shadow-pink); }

.shadow-green {
  box-shadow: 1px 4px 8px var(--shadow-green); }

.shadow-blue {
  box-shadow: 1px 4px 8px var(--shadow-blue); }

.shadow-violet {
  box-shadow: 1px 4px 8px var(--shadow-violet); }

.brand-body {
  --background: var(--brand-linear-gradient); }

.default-body {
  --background: #ffffff; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: var(--content-size); }

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--background); }

.container {
  padding-left: 1rem;
  padding-right: 1rem; }

.menu {
  padding-top: .4rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem; }
  .menu:before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: -11.875rem;
    height: 270%;
    background-color: #f4f4f4;
    z-index: -1;
    border-radius: 0 0 242% 126%;
    width: 115%;
    box-shadow: -2px 3px 10px #0000004a; }
  .menu-top {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    height: 2rem;
    align-items: center;
    margin-bottom: 2.575rem; }
    .menu-top__hum {
      width: 2rem;
      text-align: right; }
    .menu-top__page-title .page-title {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-family: var(--font-family-title);
      font-weight: var(--font-weight-title);
      font-size: 1.25rem; }
  .menu-main-group {
    display: grid;
    grid-template-columns: 2fr 1fr; }

.mobile-wrapper:before {
  content: '';
  position: absolute;
  background: linear-gradient(135deg, var(--red-link), var(--violet-link));
  z-index: 1;
  opacity: .6;
  left: -0.5rem;
  top: -2.3125rem;
  height: 10.3rem;
  border-radius: 0 0 180% 95%;
  width: 86%;
  box-shadow: -2px 3px 10px #0000004a; }

body.menu-opened {
  overflow: hidden; }
  body.menu-opened .hamburger {
    transform: rotate(90deg); }

.menu-opened .mobile-wrapper:before {
  left: 0;
  opacity: .6;
  transform: scale(10); }

.menu.menu-opened {
  height: 100%; }

.menu.menu-opened:before {
  height: 264%;
  left: -45%;
  top: -2rem;
  background-color: #f4f4f4;
  z-index: -1;
  border-radius: 0 0 100% 70%;
  width: 153%;
  filter: drop-shadow(0px 0px 3px gray); }

.main-menu {
  height: 0;
  opacity: 0;
  position: absolute;
  overflow: hidden; }
  .main-menu__items {
    padding: 0;
    padding-left: .625rem;
    list-style: none; }
    .main-menu__items_item {
      margin-bottom: 1.235rem;
      opacity: 0;
      transform: translateY(-2rem); }
      .main-menu__items_item .main-menu__link {
        display: grid;
        grid-template-columns: 1rem 1fr 2.3rem;
        text-decoration: none; }
        .main-menu__items_item .main-menu__link-icon {
          color: var(--violet-text);
          display: flex;
          align-items: center;
          justify-content: center; }
          .main-menu__items_item .main-menu__link-icon svg {
            width: .9rem; }
        .main-menu__items_item .main-menu__link-text {
          color: var(--black-text);
          padding-left: 1.05rem;
          text-transform: uppercase;
          font-family: var(--font-family-regular);
          font-weight: var(--font-weight-title);
          font-size: .95rem;
          letter-spacing: 2.5px; }
        .main-menu__items_item .main-menu__link-extra {
          color: var(--gray-text);
          text-align: right;
          padding-right: .45rem; }
          .main-menu__items_item .main-menu__link-extra svg {
            width: .6rem; }
      .main-menu__items_item.active-menu-item .main-menu__link-text,
      .main-menu__items_item.active-menu-item .main-menu__link-extra {
        color: var(--violet-text); }

.menu-opened .main-menu {
  height: 100%;
  opacity: 1;
  overflow: visible; }

.menu-opened .main-menu__items_item {
  opacity: 1;
  transform: translateY(0); }

.hamburger {
  display: inline-flex;
  transform-origin: 50% 50%;
  justify-content: center;
  align-items: center; }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round; }

.ham-item .top {
  stroke-dasharray: 40 160; }

.ham-item .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms; }

.ham-item .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms; }

.menu-opened .hamRotate {
  transform: rotate(45deg); }

.menu-opened .hamRotate180 {
  transform: rotate(180deg); }

.menu-opened .ham-item .top {
  stroke-dashoffset: -64px; }

.menu-opened .ham-item .middle {
  transform: rotate(90deg); }

.menu-opened .ham-item .bottom {
  stroke-dashoffset: -64px; }

.additional-menu {
  position: absolute;
  top: 5rem;
  right: 1.55rem;
  z-index: 2; }
  .additional-menu__items {
    position: relative;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    .additional-menu__items_item {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: rebeccapurple;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%; }
      .additional-menu__items_item svg {
        width: 20px; }
      .additional-menu__items_item:first-child {
        right: -0.5rem;
        top: -3.4rem;
        width: 3.5rem;
        height: 3.5rem;
        background: linear-gradient(180deg, var(--blue-link) 60%, var(--violet-link) 120%); }
        @media (min-width: 520px) {
          .additional-menu__items_item:first-child {
            top: -3.4rem; } }
        .additional-menu__items_item:first-child svg {
          width: 1.25rem; }
      .additional-menu__items_item:last-child {
        right: 3rem;
        bottom: -1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background: linear-gradient(180deg, var(--red-link) 60%, var(--violet-link) 120%); }
        @media (min-width: 520px) {
          .additional-menu__items_item:last-child {
            right: 3.3rem;
            bottom: -1rem; } }
        @media (min-width: 767.98px) {
          .additional-menu__items_item:last-child {
            bottom: -7px; } }
        .additional-menu__items_item:last-child svg {
          width: 1rem; }
  .additional-menu__link {
    color: #ffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.menu-opened .additional-menu__items_item:first-child {
  right: -.25rem;
  top: -1.187rem; }

.menu-opened .additional-menu__items_item:last-child {
  bottom: -5.5rem;
  right: .25rem; }

:root {
  --transition-main: .6s;
  --transition-fast: .3s;
  --custom-bezier: cubic-bezier(0, 0, 0, 1.59); }

.mobile-wrapper:before {
  transition: all var(--transition-main); }

.menu:before {
  transition: all var(--transition-fast); }

.hamburger {
  transition: transform .3s; }

.additional-menu__items_item:first-child {
  will-change: right, top;
  transition: top .4s .1s, right .4s; }

.additional-menu__items_item:last-child {
  will-change: bottom, right;
  transition: bottom .25s .05s, right .25s; }

.menu-opened .additional-menu__items_item:last-child {
  will-change: bottom, right;
  transition: bottom .3s, right .3s; }

.menu-opened .menu:before {
  will-change: left, top,width, height;
  transition: left var(--transition-fast) cubic-bezier(0.45, 0.98, 0.7, 1.39), top var(--transition-fast) cubic-bezier(0.45, 0.98, 0.7, 1.39), width var(--transition-fast) cubic-bezier(0.45, 0.98, 0.7, 1.39), height var(--transition-fast) cubic-bezier(0.45, 0.98, 0.7, 1.39); }

.menu-opened .main-menu__items_item {
  transition: all 0s; }

.menu-opened .main-menu__items_item:nth-child(1) {
  will-change: opacity;
  transition: opacity var(--transition-fast) 0.1s, transform 0.4s 0.1s var(--custom-bezier); }

.menu-opened .main-menu__items_item:nth-child(2) {
  will-change: opacity;
  transition: opacity var(--transition-fast) 0.2s, transform 0.4s 0.2s var(--custom-bezier); }

.menu-opened .main-menu__items_item:nth-child(3) {
  will-change: opacity;
  transition: opacity var(--transition-fast) 0.3s, transform 0.4s 0.3s var(--custom-bezier); }

.menu-opened .main-menu__items_item:nth-child(4) {
  will-change: opacity;
  transition: opacity var(--transition-fast) 0.4s, transform 0.4s 0.4s var(--custom-bezier); }

.menu-opened .main-menu__items_item:nth-child(5) {
  will-change: opacity;
  transition: opacity var(--transition-fast) 0.5s, transform 0.4s 0.5s var(--custom-bezier); }

.category-list {
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; }
  .category-list::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .category-list__items {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    padding: .85rem 0; }
    .category-list__items .app-btn {
      margin-right: 1.1rem;
      opacity: .6; }
      .category-list__items .app-btn.active-btn {
        opacity: 1; }
      .category-list__items .app-btn__icon svg {
        width: 15px; }
    .category-list__items .app-btn:first-child {
      margin-left: 1.4rem; }

.app-btn {
  text-decoration: none;
  color: var(--black-text);
  padding: .65rem;
  background: #ffffff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  transform: translateZ(0);
  transition: transform 0.1s ease-in-out, box-shadow var(--transition-fast); }
  .app-btn__icon {
    width: .8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .app-btn__text {
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    padding-left: .5rem; }
  .app-btn.active-btn {
    transform: scale(1.2); }
  .app-btn.active-btn.shadow-pink {
    box-shadow: 1px 1px 10px var(--shadow-pink); }
  .app-btn.active-btn.shadow-green {
    box-shadow: 1px 1px 10px var(--shadow-green); }
  .app-btn.active-btn.shadow-blue {
    box-shadow: 1px 1px 10px var(--shadow-blue); }
  .app-btn.active-btn.shadow-violet {
    box-shadow: 1px 1px 10px var(--shadow-violet); }

.search {
  padding: .6rem 0; }
  .search__group {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: none;
    text-align: center;
    padding: .5rem 1rem;
    font-family: var(--font-family-regular);
    font-size: .9rem;
    position: relative; }
    .search__group_input {
      border: none;
      flex: 1;
      padding: 0 1rem;
      text-align: center;
      letter-spacing: .5px;
      font-size: .9rem;
      color: var(--gray-text);
      outline: none; }
      .search__group_input:focus {
        box-shadow: 1px 1px 1px var(--red-link); }
      .search__group_input_btn {
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 100%;
        background: var(--brand-linear-gradient);
        width: calc(2.5rem - 8px);
        height: calc(2.5rem - 8px);
        color: var(--black-text);
        display: flex;
        align-items: center;
        justify-content: center; }
        .search__group_input_btn svg {
          width: 50%;
          color: #ffffff; }
