@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap");
:root {
  --content-size: 5vw;
  --side-spacing: 1.5rem;
  --standard-container-width: initial; }
  @media (min-width: 520px) {
    :root {
      --content-size: 2.58vw; } }
  @media (min-width: 767.98px) {
    :root {
      --content-size: 2.08vw;
      --side-spacing: 2.5rem; } }
  @media (min-width: 1024px) {
    :root {
      --content-size: 18px;
      --standard-container-width: 850px; } }
  @media (min-width: 1400px) {
    :root {
      --content-size: 18px;
      --standard-container-width: 1120px; } }
  @media (min-width: 1920px) {
    :root {
      --content-size: 18px;
      --standard-container-width: 1600px; } }

:root {
  --orange-light: #eec499;
  --pink: #ff66a3;
  --white: #ffffff;
  --green: #46821b;
  --green-light:#a2cc72;
  --green-middle: #76d62f;
  --black: #000000;
  --black-text: #444444;
  --gray-text: #979797;
  --gray-main-menu-back: #f4f4f4;
  --gray-settings-control: #e4e4e4;
  --violet-text: #7660ff;
  --violet-link: #bd94fb;
  --blue-link: #508eff;
  --blue-switcher-default-active: #4983ee;
  --red-link: #fd5760;
  --red-invalid-field: #f2878c;
  --dangerous-zone:  #fd5760;
  --shadow-pink:#ff66a3;
  --shadow-green: #13c313;
  --shadow-blue: #508eff;
  --shadow-violet: #bd94fb;
  --dark-footer-background: #4a4a4a;
  --light-footer-text-color: #fff;
  --back-switcher-default: linear-gradient(114deg, #ffff, #f4f4f4);
  --brand-linear-gradient: linear-gradient(180deg, var(--orange-light), var(--pink));
  --background-gradient-cat-1: linear-gradient(180deg, rgb(238,196,153)20%, rgb(255,102,163)80%) ;
  --background-gradient-cat-2: linear-gradient(180deg, rgb(162,204,114)20%, rgb(70,130,27)80%);
  --background-gradient-cat-3: linear-gradient(180deg, rgb(183,248,219)20%, rgb(80,167,194)80%);
  --background-gradient-cat-4: linear-gradient(180deg, rgb(255,88,88)20%,   rgb(240,152,25)80%); }

.settings-theme {
  --background-theme: linear-gradient(180deg, rgb(80,142,255) 20%, rgb(189,148,251) 450%);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var(--violet-link), #6097f1);
  --shadow-theme: 1px 4px 8px var(--shadow-pink);
  --btn-theme: linear-gradient(180deg, var(--orange-light), var(--pink));
  --color-theme: var(--pink);
  --color-theme-secondary: var(--violet-link);
  --text-color-theme: var(--white); }

.profile-theme {
  --background-theme:  var(--background-gradient-cat-2);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var( --green-light), var(--green));
  --shadow-theme:1px 4px 8px var(--shadow-green);
  --btn-theme:linear-gradient(180deg, #a6d367, #67b443 );
  --color-theme: var(--green);
  --color-theme-secondary: var( --green-light);
  --text-color-theme: var(--white); }

.contact-theme {
  --background-theme:  linear-gradient(180deg, rgb(253,87,96) 20%, rgb(253,87,96) 80%);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var(--white), var(--red-link) );
  --shadow-theme:1px 4px 8px var(--shadow-pink);
  --btn-theme: linear-gradient(180deg, var(--orange-light), var(--pink));
  --color-theme: var(--red-link);
  --color-theme-secondary: var(--orange-light);
  --text-color-theme: var(--white); }

.cart-theme {
  --background-theme:  linear-gradient(180deg, rgb(207,218,255) 20%, rgb(183,219,250) 80%);
  --mobile-wrapper-menu-theme: var(--black-text);
  --shadow-theme:1px 4px 8px var(--black-text);
  --btn-theme: linear-gradient(135deg, var(--violet-link), #6097f1);
  --color-theme: #94b9ff;
  --color-theme-secondary: rgb(207,218,255);
  --text-color-theme: var(--white); }

.favorites-theme {
  --background-theme:  linear-gradient(180deg, rgb(207,218,255) 20%, rgb(183,219,250) 80%);
  --mobile-wrapper-menu-theme: var(--black-text);
  --shadow-theme:1px 4px 8px var(--black-text);
  --btn-theme: linear-gradient(135deg, var(--violet-link), #6097f1);
  --color-theme: #94b9ff;
  --color-theme-secondary: rgb(207,218,255);
  --text-color-theme: var(--white); }

.flowers-theme,
.cat-1 {
  --background-theme: var(--background-gradient-cat-1);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var(--red-link), var(--violet-link));
  --shadow-theme:1px 4px 8px var(--shadow-pink);
  --btn-theme:linear-gradient(180deg, var(--orange-light), var(--pink));
  --color-theme: var(--pink);
  --color-theme-secondary: var(--orange-light);
  --text-color-theme: var(--white); }

.plants-theme,
.cat-2 {
  --background-theme:  var(--background-gradient-cat-2);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, var( --green-light), var(--green));
  --shadow-theme:1px 4px 8px var(--shadow-green);
  --btn-theme:linear-gradient(180deg, #a6d367, #67b443 );
  --color-theme: var(--green);
  --color-theme-secondary: var(--green-light);
  --text-color-theme: var(--white); }

.trees-theme,
.cat-3 {
  --background-theme:  var(--background-gradient-cat-3);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, #B7F8DB, #50A7C2);
  --shadow-theme:1px 4px 8px #50A7C2;
  --btn-theme:linear-gradient(180deg, #B7F8DB, #50A7C2 );
  --color-theme: #50A7C2;
  --color-theme-secondary: var(#B7F8DB);
  --text-color-theme: var(--white); }

.popular-theme,
.cat-4 {
  --background-theme: var(--background-gradient-cat-4);
  --mobile-wrapper-menu-theme: linear-gradient(135deg, #ff5858, #f09819);
  --shadow-theme:1px 4px 8px #f09819;
  --btn-theme:linear-gradient(180deg,  #ff5858 , #f09819 );
  --color-theme: #ff5858;
  --color-theme-secondary: var(#f09819);
  --text-color-theme: var(--white); }

:root {
  --font-family-title: 'Karla', sans-serif;
  --font-family-regular: 'Karla', sans-serif;
  --font-family-price: 'Oswald', sans-serif;
  --font-weight-title: 700;
  --font-weight-regular: 400; }

.shadow-pink {
  box-shadow: 1px 4px 8px var(--shadow-pink); }

.shadow-green {
  box-shadow: 1px 4px 8px var(--shadow-green); }

.shadow-blue {
  box-shadow: 1px 4px 8px var(--shadow-blue); }

.shadow-violet {
  box-shadow: 1px 4px 8px var(--shadow-violet); }

.shadow-theme {
  box-shadow: var(--shadow-theme); }

:root {
  --transition-main: .6s;
  --transition-fast: .5s;
  --custom-bezier-menu-items: cubic-bezier(0, 0, 0, 1.59);
  --custom-bezier-open-menu: cubic-bezier(0, 1.53, 1, 1); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: var(--content-size);
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative; }
  body.state-loading {
    overflow: hidden; }

.container {
  padding-left: 1rem;
  padding-right: 1rem; }

@media (min-width: 1366px) {
  :root {
    --content-size: 16px;
    --body-perspective: 1400px
  ; }
  body {
    perspective: var(--body-perspective);
    backface-visibility: hidden;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d; }
    body:after {
      content: ' ';
      width: 437px;
      height: 812px;
      position: absolute;
      top: -3px;
      left: calc(50% - 218px);
      background-image: url(../../demo-assets/phone_demo.png);
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: -1; }
  .demo-preloader {
    display: block; }
    .demo-preloader__1 {
      position: absolute;
      top: 50%;
      left: 15%;
      width: 300px;
      height: 300px;
      transform: rotate3d(0, 1, 0, 0deg); }
      .demo-preloader__1_top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        transform: rotate3d(1, 1, 0, 0deg) translate(0) translateZ(0px) rotate(0deg);
        transition: all .8s;
        border-radius: 100%;
        border-top: 5px solid violet; }
      .demo-preloader__1:after {
        content: '';
        position: absolute;
        background: linear-gradient(90deg, #ff00ff05 10%, #ee82ee57 50%, #ee82ee1a 90%);
        width: 100%;
        height: 60px;
        left: 0;
        top: 0;
        transform: rotate3d(1, 1, 1, 0deg); } }

.mobile-wrapper {
  background: var(--background-theme);
  max-width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "content" "footer";
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  min-height: 260px;
  width: 320px;
  height: 691px;
  left: calc(50% - 160px);
  top: 44px;
  border-radius: 28px;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .mobile-wrapper .content {
    grid-area: content;
    max-width: 100vw;
    margin-bottom: 5rem; }
  .mobile-wrapper:before {
    content: '';
    transition: all var(--transition-main);
    position: absolute;
    background: var(--mobile-wrapper-menu-theme);
    z-index: 100;
    opacity: .6;
    left: -0.5rem;
    top: -2.3125rem;
    height: 10.3rem;
    border-radius: 0 0 180% 95%;
    width: 86%;
    box-shadow: -2px 3px 10px #0000004a; }
  .mobile-wrapper.state-loading {
    overflow: hidden; }
  .mobile-wrapper .preloader {
    background-color: #ffffff;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mobile-wrapper .preloader img {
      width: 150px; }
  .mobile-wrapper .additional-menu__items_item:first-child {
    right: -0.5rem;
    top: -3.4rem;
    width: 3.5rem;
    height: 3.5rem; }
  .mobile-wrapper .additional-menu__items_item:last-child {
    right: 3rem;
    bottom: -1.5rem;
    width: 2.5rem;
    height: 2.5rem; }
  .mobile-wrapper .shop-grouped__collection {
    grid-template-columns: 1fr 1fr; }
  .mobile-wrapper::-webkit-scrollbar {
    width: 0; }

@keyframes load {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) translate(0) translateZ(0px);
    z-index: -1; }
  45% {
    z-index: 1000; }
  50% {
    transform: rotate3d(0, 1, 0, 90deg) translate(150px) translateZ(600px);
    z-index: 1000; }
  55% {
    z-index: -1; }
  100% {
    transform: rotate3d(0, 1, 0, 180deg) translate(0px) translateZ(0px);
    z-index: -1; } }

.menu {
  padding-top: .55rem;
  padding-bottom: 1.85rem;
  position: relative;
  z-index: 200;
  margin-bottom: 1.5rem; }
  .menu:before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: -11.875rem;
    height: 270%;
    background-color: #f4f4f4;
    z-index: -1;
    border-radius: 0 0 242% 126%;
    width: 115%;
    box-shadow: -2px 3px 10px #0000004a;
    transition: left .6s, top .6s, height .6s, width .6s; }
  .menu-top {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    height: 2rem;
    align-items: center;
    margin-bottom: 2.575rem; }
    .menu-top__hum {
      width: 2rem;
      text-align: right; }
    .menu-top__page-title .page-title {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-family: var(--font-family-title);
      font-weight: var(--font-weight-title);
      font-size: 1.25rem; }
  .menu-main-group {
    display: grid;
    grid-template-columns: 2fr 1fr; }

.menu-opened {
  overflow: hidden !important;
  height: 100vh;
  display: none; }
  .menu-opened:before {
    left: 0;
    opacity: .6;
    transform: scale(10); }
  .menu-opened .menu {
    height: 100%; }
    .menu-opened .menu:before {
      transition: left .6s, top .6s, height .6s, width .6s;
      height: 264%;
      left: -45%;
      top: -2rem;
      background-color: var(--gray-main-menu-back);
      z-index: -1;
      border-radius: 0 0 100% 70%;
      width: 153%;
      filter: drop-shadow(0px 0px 3px gray);
      max-height: 18.5625rem; }

:root {
  --transition-main: .6s;
  --transition-fast: .5s;
  --custom-bezier-menu-items: cubic-bezier(0, 0, 0, 1.59);
  --custom-bezier-open-menu: cubic-bezier(0, 1.53, 1, 1);
  --mode-1: cubic-bezier(0.15, 0.97, 0.73, 1); }

.menu:before {
  transition: all var(--transition-fast); }

.additional-menu__items_item:first-child {
  transition: top .3s .1s, right .3s; }

.additional-menu__items_item:last-child {
  transition: bottom .25s .12s, right .25s .12s; }

.menu-opened .additional-menu__items_item:last-child {
  transition: bottom .3s, right .3s; }

.menu-opened .menu:before {
  transition: left var(--transition-fast) cubic-bezier(0.33, 0.92, 0.64, 1.41), top var(--transition-fast) cubic-bezier(0.66, 0.56, 0.36, 1), width 0.475s cubic-bezier(0.23, 2.54, 0.63, 2.8), height var(--transition-main) cubic-bezier(0.22, 0.61, 0.36, 1);
  backface-visibility: hidden; }

.menu-opened .main-menu__items_item {
  transition: all 0s; }

.menu-opened .main-menu__items_item:nth-child(1) {
  transition: opacity var(--transition-fast) 0.1s, transform 0.4s 0.1s var(--custom-bezier-menu-items); }

.menu-opened .main-menu__items_item:nth-child(2) {
  transition: opacity var(--transition-fast) 0.2s, transform 0.4s 0.2s var(--custom-bezier-menu-items); }

.menu-opened .main-menu__items_item:nth-child(3) {
  transition: opacity var(--transition-fast) 0.3s, transform 0.4s 0.3s var(--custom-bezier-menu-items); }

.menu-opened .main-menu__items_item:nth-child(4) {
  transition: opacity var(--transition-fast) 0.4s, transform 0.4s 0.4s var(--custom-bezier-menu-items); }

.menu-opened .main-menu__items_item:nth-child(5) {
  transition: opacity var(--transition-fast) 0.5s, transform 0.4s 0.5s var(--custom-bezier-menu-items); }

.hamburger {
  display: inline-flex;
  transform-origin: 50% 50%;
  justify-content: center;
  align-items: center; }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round; }

.ham-item .top {
  stroke-dasharray: 40 160; }

.ham-item .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms; }

.ham-item .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms; }

.menu-opened .hamRotate {
  transform: rotate(45deg); }

.menu-opened .hamRotate180 {
  transform: rotate(180deg); }

.menu-opened .ham-item .top {
  stroke-dashoffset: -64px; }

.menu-opened .ham-item .middle {
  transform: rotate(90deg); }

.menu-opened .ham-item .bottom {
  stroke-dashoffset: -64px; }

.main-menu {
  height: 0;
  opacity: 0;
  position: absolute;
  overflow: hidden; }
  .main-menu__items {
    padding: 0;
    padding-left: .625rem;
    list-style: none; }
    .main-menu__items_item {
      margin-bottom: 1.235rem;
      opacity: 0;
      transform: translateY(-2rem) scale(0.8); }
      .main-menu__items_item .main-menu__link {
        display: grid;
        grid-template-columns: 1rem 1fr 2.3rem;
        text-decoration: none; }
        .main-menu__items_item .main-menu__link-icon {
          color: var(--violet-text);
          display: flex;
          align-items: center;
          justify-content: center; }
          .main-menu__items_item .main-menu__link-icon svg {
            width: .9rem; }
        .main-menu__items_item .main-menu__link-text {
          color: var(--black-text);
          padding-left: 1.05rem;
          text-transform: uppercase;
          font-family: var(--font-family-regular);
          font-weight: var(--font-weight-title);
          font-size: .95rem;
          letter-spacing: 2.5px; }
        .main-menu__items_item .main-menu__link-extra {
          color: var(--gray-text);
          text-align: right;
          padding-right: .45rem; }
          .main-menu__items_item .main-menu__link-extra svg {
            width: .6rem; }
        .main-menu__items_item .main-menu__link.active-menu-item .main-menu__link-text,
        .main-menu__items_item .main-menu__link.active-menu-item .main-menu__link-extra {
          color: var(--violet-text); }

.menu-opened .main-menu {
  height: 100%;
  opacity: 1;
  overflow: visible; }

.menu-opened .main-menu__items_item {
  opacity: 1;
  transform: translateY(0) scale(1); }

.additional-menu {
  position: absolute;
  top: 5rem;
  right: 1.55rem;
  z-index: 250; }
  .additional-menu__items {
    position: relative;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
    .additional-menu__items_item {
      position: absolute;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;
      backface-visibility: hidden; }
      .additional-menu__items_item svg {
        width: 20px; }
      .additional-menu__items_item:first-child {
        right: -0.5rem;
        top: -3.4rem;
        width: 3.5rem;
        height: 3.5rem; }
        @media (min-width: 520px) {
          .additional-menu__items_item:first-child {
            top: -4.4rem; } }
        @media (min-width: 1366px) {
          .additional-menu__items_item:first-child {
            top: -3.4rem; } }
        .additional-menu__items_item:first-child .additional-menu__link {
          background: linear-gradient(180deg, var(--blue-link) 60%, var(--violet-link) 120%);
          border-radius: 100%; }
        .additional-menu__items_item:first-child svg {
          width: 1.25rem; }
      .additional-menu__items_item:last-child {
        right: 3rem;
        bottom: -1.5rem;
        width: 2.5rem;
        height: 2.5rem; }
        @media (min-width: 520px) {
          .additional-menu__items_item:last-child {
            right: 3.3rem;
            bottom: 0rem; } }
        @media (min-width: 1050px) {
          .additional-menu__items_item:last-child {
            bottom: .5rem; } }
        @media (min-width: 1366px) {
          .additional-menu__items_item:last-child {
            right: 3rem;
            bottom: -1.5rem;
            width: 2.5rem;
            height: 2.5rem; } }
        .additional-menu__items_item:last-child .additional-menu__link {
          background: linear-gradient(180deg, var(--red-link) 60%, var(--violet-link) 120%);
          border-radius: 100%; }
        .additional-menu__items_item:last-child svg {
          width: 1rem; }
  .additional-menu__link {
    color: #ffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .additional-menu__link.link-cart .amount-now {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: .7rem;
      top: .5rem;
      right: .5rem;
      width: 1.25rem;
      height: 1.25rem;
      background: linear-gradient(var(--red-link) 20%, #ee3b45 80%);
      box-shadow: 0px 0px 3px 0px #000000a3;
      border-radius: 100%; }
    .additional-menu__link.link-favorites .amount-now {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: .7rem;
      top: .1rem;
      right: 0;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background: linear-gradient(var(--blue-link) 20%, #3c74db 80%);
      box-shadow: 0px 0px 3px 0px #000000a3; }

.menu-opened .additional-menu__items_item:first-child {
  right: -.25rem;
  top: -1.187rem; }

.menu-opened .additional-menu__items_item:last-child {
  bottom: -5.5rem;
  right: .25rem; }

.category-list {
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  position: relative;
  z-index: 2; }
  .category-list::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .category-list__items {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    padding: .85rem 0; }
    .category-list__items a {
      margin-right: 1.1rem;
      opacity: .6;
      color: var(--black-text); }
    .category-list__items a:first-child {
      margin-left: 1.4rem; }

.app-btn {
  --box-shadow-state-active: 1px 1px 10px;
  --box-shadow-state-loading: 0px 0px 2px;
  text-decoration: none;
  color: var(--text-color-theme);
  padding: .65rem;
  background: var(--white);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  transform: translateZ(0);
  transition: transform .4s ease-in-out, box-shadow .4s ease-in-out, opacity .3s ease-in-out;
  box-shadow: 0px 0px 0px #ffffff; }
  .app-btn__icon {
    width: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: .7rem; }
    .app-btn__icon svg {
      width: 100%;
      height: auto; }
  .app-btn__text {
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    max-height: .7rem;
    padding-left: .5rem; }
  .app-btn.check-out-btn, .app-btn.cart-btn {
    margin: 1.5rem;
    font-size: 1.25rem;
    background: var(--btn-theme);
    color: var(--white); }
  .app-btn.text-color-black {
    color: var(--black); }
  .app-btn.state-active {
    transform: scale(1.1);
    opacity: 1; }
  .app-btn.state-loading {
    transform: scale(0.96);
    opacity: 1; }
    .app-btn.state-loading img {
      max-width: 15px;
      max-height: 100%; }
  .app-btn.state-active.shadow-pink {
    box-shadow: var(--box-shadow-state-active) var(--shadow-pink); }
  .app-btn.state-active.shadow-green {
    box-shadow: var(--box-shadow-state-active) var(--shadow-green); }
  .app-btn.state-active.shadow-blue {
    box-shadow: var(--box-shadow-state-active) var(--shadow-blue); }
  .app-btn.state-active.shadow-violet {
    box-shadow: var(--box-shadow-state-active) var(--shadow-violet); }
  .app-btn.state-loading.shadow-pink {
    box-shadow: var(--box-shadow-state-loading) var(--shadow-pink); }
  .app-btn.state-loading.shadow-green {
    box-shadow: var(--box-shadow-state-loading) var(--shadow-green); }
  .app-btn.state-loading.shadow-blue {
    box-shadow: var(--box-shadow-state-loading) var(--shadow-blue); }
  .app-btn.state-loading.shadow-violet {
    box-shadow: var(--box-shadow-state-loading) var(--shadow-violet); }
  .app-btn.shadow-pink {
    box-shadow: 1px 4px 8px var(--shadow-pink); }
  .app-btn.shadow-green {
    box-shadow: 1px 4px 8px var(--shadow-green); }
  .app-btn.shadow-blue {
    box-shadow: 1px 4px 8px var(--shadow-blue); }
  .app-btn.shadow-violet {
    box-shadow: 1px 4px 8px var(--shadow-violet); }
  .app-btn.shadow-theme {
    box-shadow: var(--shadow-theme); }

.search {
  padding: .6rem 0; }

.product-card {
  background-color: var(--white);
  padding: 1rem .75rem .75rem;
  border-radius: 1.75rem;
  min-height: 230px;
  display: flex;
  flex-flow: column; }
  .product-card__buttons {
    display: flex;
    margin-top: -2rem;
    justify-content: space-around;
    align-items: center;
    padding: 0 .5rem; }
    .product-card__buttons_item {
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      background-color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center; }
      .product-card__buttons_item svg {
        width: 1rem; }
      .product-card__buttons_item.add-to-fav {
        color: var(--red-link); }
        .product-card__buttons_item.add-to-fav.state-in-favorites {
          color: var(--red-link);
          position: relative; }
          .product-card__buttons_item.add-to-fav.state-in-favorites svg {
            filter: drop-shadow(0px 1px 0.15rem #626262);
            transform: scale(1.65); }
      .product-card__buttons_item.add-to-cart {
        color: var(--blue-link); }
        .product-card__buttons_item.add-to-cart.state-in-cart {
          color: var(--blue-link);
          position: relative; }
          .product-card__buttons_item.add-to-cart.state-in-cart svg {
            filter: drop-shadow(0px 1px 0.15rem #626262);
            transform: scale(1.65); }
  .product-card__image {
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 0;
    background-color: #8080802e; }
    .product-card__image_img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .product-card__info {
    display: flex;
    flex-flow: column;
    text-align: center; }
    .product-card__info_title {
      font-weight: var(--font-weight-title);
      font-family: var(--font-family-title);
      margin-top: .4rem;
      font-size: .9rem; }
    .product-card__info_params {
      font-size: .7rem;
      margin-top: .15rem;
      font-family: var(--font-family-regular); }
    .product-card__info_price {
      color: var(--pink);
      font-weight: var(--font-weight-title);
      font-family: var(--font-family-price);
      font-size: 1.45rem;
      display: flex;
      align-items: center;
      justify-content: center; }
  .product-card__additional-info {
    text-align: center;
    margin-top: auto;
    font-size: .65rem; }
  .product-card .in-cart-option {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    text-align: center; }
    .product-card .in-cart-option__minus {
      color: var(--pink);
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
    .product-card .in-cart-option__now {
      width: 100%;
      text-align: center;
      border: none;
      font-weight: 800; }
    .product-card .in-cart-option__plus {
      color: var(--blue-link);
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }

.preloader {
  background-color: #ffffff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center; }
  .preloader img {
    width: 150px; }

.footer {
  grid-area: footer;
  max-width: 100vw;
  margin-top: auto;
  background: transparent;
  height: 12.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid #ffffff1c;
  color: var(--light-footer-text-color); }
  .footer__body {
    padding: 2rem 0; }
    .footer__body_content {
      display: grid;
      grid-template-columns: 1fr 1fr; }
  .footer svg, .footer img {
    width: 20px; }

.settings-group__title-block {
  padding: .25rem;
  border-bottom: 1px solid var(--text-color-theme);
  margin: 3rem 0 2rem; }
  .settings-group__title-block_title {
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    text-transform: none;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: var(--text-color-theme); }

.settings-group__settings-collection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr; }

.profile-group__title-block {
  padding: .25rem;
  border-bottom: 1px solid var(--text-color-theme);
  margin: 3rem 0 2rem; }
  .profile-group__title-block_title {
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: var(--text-color-theme); }

.profile-group__profile-collection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr; }

.profile-group-transition {
  min-height: 350px;
  position: relative; }
  .profile-group-transition [data-fields-group] {
    position: absolute;
    left: 0;
    top: 0rem;
    width: 100%; }
  .profile-group-transition .profile-group-hidden {
    width: 100%;
    z-index: -1; }
    .profile-group-transition .profile-group-hidden .profile-input,
    .profile-group-transition .profile-group-hidden .profile-group__title-block {
      transform: translateX(150%); }
  .profile-group-transition .profile-group-current {
    opacity: 1; }
    .profile-group-transition .profile-group-current .profile-input,
    .profile-group-transition .profile-group-current .profile-group__title-block {
      transform: translateX(0); }
  .profile-group-transition .profile-group-transition-start .profile-group__title-block {
    transition: transform .2s;
    transform: translateX(0); }
  .profile-group-transition .profile-group-transition-start .profile-input:nth-child(1) {
    transition: transform .3s .1s;
    transform: translateX(0); }
  .profile-group-transition .profile-group-transition-start .profile-input:nth-child(2) {
    transition: transform .4s .2s;
    transform: translateX(0); }
  .profile-group-transition .profile-group-transition-start .profile-input:nth-child(3) {
    transition: transform .5s .3s;
    transform: translateX(0); }
  .profile-group-transition .profile-group-transition-start .profile-input:nth-child(4) {
    transition: transform .6s .4s;
    transform: translateX(0); }
  .profile-group-transition .profile-group-transition-end .profile-group__title-block {
    transition: transform .2s;
    transform: translateX(-150%); }
  .profile-group-transition .profile-group-transition-end .profile-input:nth-child(1) {
    transition: transform .4s .1s;
    transform: translateX(-150%); }
  .profile-group-transition .profile-group-transition-end .profile-input:nth-child(2) {
    transition: transform .5s .2s;
    transform: translateX(-150%); }
  .profile-group-transition .profile-group-transition-end .profile-input:nth-child(3) {
    transition: transform .6s .3s;
    transform: translateX(-150%); }
  .profile-group-transition .profile-group-transition-end .profile-input:nth-child(4) {
    transition: transform .7s .4s;
    transform: translateX(-150%); }

.contact-group__title-block {
  padding: .25rem;
  border-bottom: 1px solid var(--text-color-theme);
  margin: 3rem 0 2rem; }
  .contact-group__title-block_title {
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    text-transform: none;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: var(--text-color-theme); }

.contact-group__contacts-collection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr; }

.contact-group-map {
  margin-top: -10rem; }
  .contact-group-map__iframe-wrapper {
    margin-top: 2rem;
    height: 24rem; }

.shop-group-transition {
  --timing-transition-1: .6s;
  --timing-transition-2: .9s;
  position: relative;
  background: transparent; }
  .shop-group-transition-group {
    transition: all .6s;
    min-height: 28rem; }
    .shop-group-transition-group.shop-group-hidden {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
      .shop-group-transition-group.shop-group-hidden .product-card,
      .shop-group-transition-group.shop-group-hidden .search {
        transform: translateY(-16.35rem);
        opacity: 0; }
    .shop-group-transition-group.shop-group-current {
      opacity: 1;
      z-index: 0; }
    .shop-group-transition-group.shop-group-transition-start {
      position: absolute;
      left: 0;
      top: 0; }
      .shop-group-transition-group.shop-group-transition-start .search {
        transition: transform var(--timing-transition-1), opacity var(--timing-transition-1);
        opacity: 1;
        transform: translateY(0rem); }
      .shop-group-transition-group.shop-group-transition-start .product-card:nth-child(1) {
        transition: transform var(--timing-transition-1), opacity var(--timing-transition-1);
        opacity: 1;
        transform: translateY(0rem); }
      .shop-group-transition-group.shop-group-transition-start .product-card:nth-child(2) {
        transition: transform var(--timing-transition-2), opacity var(--timing-transition-2);
        opacity: 1;
        transform: translateY(0rem); }
      .shop-group-transition-group.shop-group-transition-start .product-card:nth-child(3) {
        transition: transform var(--timing-transition-1), opacity var(--timing-transition-1);
        opacity: 1;
        transform: translateY(0rem); }
      .shop-group-transition-group.shop-group-transition-start .product-card:nth-child(4) {
        transition: transform var(--timing-transition-2), opacity var(--timing-transition-2);
        opacity: 1;
        transform: translateY(0rem); }
    .shop-group-transition-group.shop-group-transition-end .search {
      transition: transform var(--timing-transition-1), opacity 0.4s;
      opacity: 0;
      transform: translateY(16.35rem); }
    .shop-group-transition-group.shop-group-transition-end .product-card:nth-child(1) {
      transition: transform var(--timing-transition-1), opacity var(--timing-transition-1);
      opacity: 0;
      transform: translateY(16.35rem); }
    .shop-group-transition-group.shop-group-transition-end .product-card:nth-child(2) {
      transition: transform var(--timing-transition-2), opacity var(--timing-transition-2);
      opacity: 0;
      transform: translateY(16.35rem); }
    .shop-group-transition-group.shop-group-transition-end .product-card:nth-child(3) {
      transition: transform var(--timing-transition-1), opacity var(--timing-transition-1);
      opacity: 0;
      transform: translateY(16.35rem); }
    .shop-group-transition-group.shop-group-transition-end .product-card:nth-child(4) {
      transition: transform var(--timing-transition-2), opacity var(--timing-transition-2);
      opacity: 0;
      transform: translateY(16.35rem); }

.cart-group__title-block {
  padding: .25rem;
  border-bottom: 1px solid var(--text-color-theme);
  margin: 3rem 0 2rem; }
  .cart-group__title-block_title {
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    text-transform: none;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: var(--text-color-theme); }

.cart-group__collection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr; }

.cart-group .app-btn {
  font-size: 1.25rem;
  background: var(--btn-theme);
  color: var(--white); }

.settings-control {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4rem 1fr;
  padding: 1rem 0; }
  .settings-control__input {
    font-size: 1.2rem; }
  .settings-control__caption {
    color: var(--text-color-theme);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem; }
    .settings-control__caption__text {
      font-family: var(--font-family-regulare);
      text-transform: capitalize;
      letter-spacing: 1.25px;
      color: var(--text-color-theme);
      font-weight: 300; }
  .settings-control:last-child {
    padding-bottom: .5rem; }

.select-control {
  --width: 3.75rem;
  --height: 2rem;
  border-radius: 2.125rem;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid var(--gray-settings-control);
  height: var(--height);
  padding: 4px; }
  .select-control.settings-select {
    color: var(--gray-settings-control); }

.switch-control {
  --width: 3.75rem;
  --height: 2rem;
  border-radius: 2.125rem;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height); }
  .switch-control input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch-control input:checked + .slider {
      background-color: var(--blue-switcher-default-active); }
    .switch-control input:checked + .slider:before {
      -webkit-transform: translateX(calc(var(--height) - 4px));
      -ms-transform: translateX(calc(var(--height) - 4px));
      transform: translateX(calc(var(--height) - 4px)); }
  .switch-control .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s; }
    .switch-control .slider:before {
      position: absolute;
      content: "";
      height: calc(var(--height) - 2px);
      width: calc(var(--height) - 2px);
      left: 1px;
      bottom: 1px;
      -webkit-transition: .4s;
      transition: .4s; }
    .switch-control .slider.round {
      border-radius: 34px;
      box-shadow: 0px 0px 6px 1px #0000001a inset; }
      .switch-control .slider.round:before {
        border-radius: 50%;
        background: var(--back-switcher-default);
        box-shadow: 1px 1px 2px 1px #96959585; }

.input-control {
  letter-spacing: .5px;
  background-color: var(--white);
  border: 1px solid var(--white);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: .8rem; }
  .input-control__input {
    font-family: var(--font-family-regular);
    color: var(--black-text);
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 0px;
    outline: none; }
    .input-control__input:focus + .input-control__placeholder {
      transform: translateY(-2rem);
      opacity: .4; }
  .input-control__placeholder {
    font-family: var(--font-family-regular);
    transition: transform .6s, opacity .8s;
    position: absolute;
    top: calc(50% - .5rem);
    left: .75rem;
    height: .9rem;
    opacity: .4; }
    .input-control__placeholder.field-has-content {
      transform: translateY(-2rem); }
  .input-control__state {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 5; }
    .input-control__state img {
      width: 100%; }
    .input-control__state.success-check {
      color: var(--green-middle); }
    .input-control__state svg {
      width: .9rem;
      height: .9rem; }
  .input-control.profile-input {
    padding: .5rem;
    margin: .5rem 0;
    height: 2.5rem;
    border-radius: 1.25rem; }
    .input-control.profile-input .input-control__input {
      font-size: .9rem;
      padding: .25rem; }
  .input-control.search-input {
    border: none;
    flex: 1;
    color: var(--gray-text); }
    .input-control.search-input input {
      font-size: .94rem;
      text-align: center; }
  .input-control.cart-input {
    padding: .5rem;
    margin: .5rem 0;
    height: 2.5rem;
    border-radius: 1.25rem; }
    .input-control.cart-input .input-control__input {
      font-size: .9rem;
      padding: .25rem; }
  .input-control.state-invalid {
    background-color: var(--red-invalid-field);
    color: var(--white); }
    .input-control.state-invalid input {
      background-color: var(--red-invalid-field);
      color: var(--white); }
  .input-control.with-placeholder-movement {
    margin: 1.5rem 0 .5rem; }

.input-with-btn {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 2.4rem;
  border-radius: 1.25rem;
  border: none;
  text-align: center;
  padding: .5rem 1rem;
  font-family: var(--font-family-regular);
  font-size: .9rem;
  position: relative; }
  .input-with-btn_input_btn {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    background: var(--background-theme);
    width: calc(2.5rem - 8px);
    height: calc(2.5rem - 8px);
    color: var(--text-color-theme);
    display: flex;
    align-items: center;
    justify-content: center; }
    .input-with-btn_input_btn svg {
      width: .9rem;
      height: .9rem;
      color: var(--white); }
  .input-with-btn .input-control__placeholder {
    font-family: var(--font-family-regular);
    left: .25rem; }
  .input-with-btn.profile-input, .input-with-btn.cart-input {
    padding: .5rem;
    margin: .5rem 0;
    height: 2.5rem;
    border-radius: 1.25rem; }
    .input-with-btn.profile-input input, .input-with-btn.cart-input input {
      text-align: left;
      font-size: .9rem;
      padding: .25rem; }
  .input-with-btn.state-loading .input-with-btn_input_btn {
    background: var(--white);
    border: 1px solid var(--color-theme); }
    .input-with-btn.state-loading .input-with-btn_input_btn img {
      width: 1rem; }
  .input-with-btn.with-placeholder-movement {
    margin: 1.5rem 0 .5rem; }
  .input-with-btn.search-input {
    margin: 0; }
  .input-with-btn .input-control {
    letter-spacing: .5px;
    background-color: var(--white);
    border: 1px solid var(--white);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .9rem; }
    .input-with-btn .input-control__input {
      font-family: var(--font-family-regular);
      color: var(--black-text);
      width: 100%;
      height: 100%;
      font-size: 1rem;
      border: 0px;
      outline: none; }
      .input-with-btn .input-control__input:focus + .input-control__placeholder {
        transform: translateY(-2rem);
        opacity: .4; }
    .input-with-btn .input-control__placeholder {
      font-family: var(--font-family-regular);
      transition: transform .6s, opacity .8s;
      position: absolute;
      top: calc(50% - .5rem);
      left: .75rem;
      height: .9rem;
      opacity: .4; }
      .input-with-btn .input-control__placeholder.field-has-content {
        transform: translateY(-2rem); }
    .input-with-btn .input-control__state {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.25rem;
      height: 1.25rem; }
      .input-with-btn .input-control__state img {
        width: 100%; }
      .input-with-btn .input-control__state.success-check {
        color: var(--green-middle); }
      .input-with-btn .input-control__state svg {
        width: .9rem;
        height: .9rem; }
    .input-with-btn .input-control.profile-input {
      padding: .5rem;
      margin: .5rem 0;
      height: 2.5rem;
      border-radius: 1.25rem; }
      .input-with-btn .input-control.profile-input .input-control__input {
        font-size: .9rem;
        padding: .25rem; }
    .input-with-btn .input-control.search-input {
      border: none;
      flex: 1;
      color: var(--gray-text); }
      .input-with-btn .input-control.search-input input {
        font-size: .94rem;
        text-align: center; }
    .input-with-btn .input-control.cart-input {
      padding: .5rem;
      margin: .5rem 0;
      height: 2.5rem;
      border-radius: 1.25rem; }
      .input-with-btn .input-control.cart-input .input-control__input {
        font-size: .9rem;
        padding: .25rem; }
    .input-with-btn .input-control.state-invalid {
      background-color: var(--red-invalid-field);
      color: var(--white); }
      .input-with-btn .input-control.state-invalid input {
        background-color: var(--red-invalid-field);
        color: var(--white); }
    .input-with-btn .input-control.with-placeholder-movement {
      margin: 1.5rem 0 .5rem; }
  .input-with-btn.shadow-pink {
    box-shadow: 1px 4px 8px var(--shadow-pink); }
  .input-with-btn.shadow-green {
    box-shadow: 1px 4px 8px var(--shadow-green); }
  .input-with-btn.shadow-blue {
    box-shadow: 1px 4px 8px var(--shadow-blue); }
  .input-with-btn.shadow-violet {
    box-shadow: 1px 4px 8px var(--shadow-violet); }
  .input-with-btn.shadow-theme {
    box-shadow: var(--shadow-theme); }

.contact-item {
  color: var(--text-color-theme);
  font-size: .8rem;
  font-family: var(--font-family-regular);
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: .5rem 0; }
  .contact-item__label {
    color: var(--text-color-theme);
    font-weight: 700; }
  .contact-item__value {
    color: var(--text-color-theme);
    font-weight: 500;
    text-decoration: none;
    text-align: left; }

.cart-item {
  --border-color: #00000054;
  --shadow-color: #00000021;
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  align-items: center;
  font-family: var(--font-family-regular);
  text-align: center;
  margin: .8rem 0; }
  .cart-item__img {
    height: 100%;
    border-radius: 2.25rem 0 0 2.25rem;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin-right: .25rem; }
    .cart-item__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cart-item__price-amount-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);
    border: 1px solid var(--border-color); }
  .cart-item__title {
    padding: 0 .35rem;
    grid-area: 1/1/ 1/3;
    text-align: left;
    border-bottom: 1px solid var(--border-color); }
    .cart-item__title_title {
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-title);
      display: block;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .cart-item__amount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .cart-item__amount_minus {
      cursor: pointer;
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-regular);
      font-size: 1.25rem; }
    .cart-item__amount_plus {
      cursor: pointer;
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-regular);
      font-size: 1.25rem; }
    .cart-item__amount_current {
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-regular);
      width: 100%;
      text-align: center;
      border: none;
      background: transparent; }
  .cart-item__total {
    color: var(--text-color-theme);
    font-family: var(--font-family-price);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border-color);
    padding: 0 .25rem; }
    .cart-item__total_total {
      padding-right: .25rem; }
  .cart-item__del {
    height: 100%;
    border-radius: 0 2.25rem 2.25rem 0;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);
    border: 1px solid var(--border-color);
    margin-left: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--dangerous-zone), #ec5058, var(--dangerous-zone)); }
    .cart-item__del_del {
      font-size: 2.25rem;
      text-decoration: none;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center; }
      .cart-item__del_del svg {
        filter: drop-shadow(0px 2px 1px var(--shadow-color));
        width: 1.25rem;
        height: 1.25rem; }

.total-in-cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem 0;
  font-size: 1.5rem; }
  .total-in-cart__text {
    color: var(--text-color-theme);
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    text-align: right;
    padding-right: .8rem;
    font-size: 2rem; }
  .total-in-cart__value {
    color: var(--text-color-theme);
    font-family: var(--font-family-price);
    font-weight: var(--font-weight-title);
    text-align: left; }
    .total-in-cart__value_currency {
      text-align: left; }
