:root {
  --transition-main: .6s;
  --transition-fast: .3s;
  --custom-bezier: cubic-bezier(0, 0, 0, 1.59);
}

.mobile-wrapper:before {
  transition: all var(--transition-main);
}

.menu:before {
  transition: all var(--transition-fast);
}

.hamburger {
  transition: transform .3s;
}

.additional-menu__items_item:first-child {
  transition: top .4s .1s, right .4s;
}

.additional-menu__items_item:last-child {
   transition: bottom .25s .05s, right .25s;
}



.menu-opened {

  .additional-menu__items_item:last-child {
    transition: bottom .3s, right .3s;
  }

  .menu:before {
    transition: all var(--transition-fast) cubic-bezier(0.45, 0.98, 0.7, 1.39);
  }

  .main-menu {

    &__items_item {
      transition: all 0s;
    }
    &__items_item:nth-child(1) {
      transition: opacity var(--transition-fast) .1s, transform .4s .1s var(--custom-bezier);
    }
    &__items_item:nth-child(2) {
      transition: opacity var(--transition-fast) .2s, transform .4s .2s var(--custom-bezier);
    }
    &__items_item:nth-child(3) {
      transition: opacity var(--transition-fast) .3s, transform .4s .3s var(--custom-bezier);
    }
    &__items_item:nth-child(4) {
      transition: opacity var(--transition-fast) .4s, transform .4s .4s var(--custom-bezier);
    }
    &__items_item:nth-child(5) {
      transition: opacity var(--transition-fast) .5s, transform .4s .5s var(--custom-bezier);
    }
  }

}
