.cart-item {
  --border-color: #00000054;
  --shadow-color: #00000021;

  display: grid;
  grid-template-columns: 3rem 1fr 2.25rem;
  align-items: center;
  font-family: var(--font-family-regular);
  text-align: center;
  margin: .8rem 0;

  &__img {
    height: 100%;
    border-radius: 2.25rem 0 0 2.25rem;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin-right: .25rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__price-amount-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);
    border: 1px solid var(--border-color);
  }

  &__title {
    padding: 0 .35rem;
    grid-area: 1/1/ 1/3;
    text-align: left;
    border-bottom: 1px solid var(--border-color);

    &_title {
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-title);
      display: block;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }

  &__amount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &_minus {
      cursor: pointer;
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-regular);
      font-size: 1.25rem;
    }

    &_plus {
      cursor: pointer;
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-regular);
      font-size: 1.25rem;
    }

    &_current {
      color: var(--text-color-theme);
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-regular);
      width: 100%;
      text-align: center;
      border: none;
      background: transparent;
    }
  }

  &__total {
    color: var(--text-color-theme);
    font-family: var(--font-family-price);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border-color);
    padding: 0 .25rem;
    &_total {
      padding-right: .25rem;
    }
    &_currency {

    }
  }

  &__del {
    height: 100%;
    border-radius: 0 2.25rem 2.25rem 0;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);
    border: 1px solid var(--border-color);
    margin-left: .25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--dangerous-zone), #ec5058, var(--dangerous-zone));
    &_del {
      font-size: 2.25rem;
      text-decoration: none;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        filter: drop-shadow(0px 2px 1px var(--shadow-color));
        width: 1.25rem;
        height: 1.25rem;
      }
    }

  }
}
