.contact-item {
  color: var(--text-color-theme);
  font-size: .8rem;
  font-family: var(--font-family-regular);
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: .5rem 0;

  &__label {
    color: var(--text-color-theme);
    font-weight: 700;
  }

  &__value {
    color: var(--text-color-theme);
    font-weight: 500;
    text-decoration: none;
    text-align: left;
  }
}
