.profile-group {
  &__title-block {

    padding: .25rem;
    border-bottom: 1px solid var(--text-color-theme);
    margin: 3rem 0 2rem;

    &_title {
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-title);
      text-transform: capitalize;
      font-size: 1.8rem;
      letter-spacing: .5px;
      color: var(--text-color-theme);
    }
  }

  &__profile-collection {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

  }

  &__save-btn {
    display: block;
    border-radius: 1.25rem;
    border: 0px;
    padding: .75rem;
    height: 100%;
    width: calc(100% - 2rem);
    font-size: .9rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 5rem auto 1rem;
    background: linear-gradient(135deg, var(--violet-link), #6097f1);
    color: var(--white);
  }
}

@import "partials/animation-transition";
