.cart-group {
  &__group {

  }

  &__title-block {

    padding: .25rem;
    border-bottom: 1px solid var(--text-color-theme);
    margin: 3rem 0 2rem;

    &_title {
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-title);
      text-transform: none;
      font-size: 1.8rem;
      letter-spacing: .5px;
      color: var(--text-color-theme);
    }

  }

  &__collection {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
  }

  .app-btn {
    font-size: 1.25rem;
    background: var(--btn-theme);
    color: var(--white);
  }

  &__loader {
    text-align: center;
    padding: 1rem 0 3rem;
    color: var(--text-color-theme);
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-title);
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25rem;
  }
}
