.search {
  padding: .6rem 0;
}

.no-content {
  margin-top: 3rem;
  text-align: center;

  p {
    font-size: 1.75rem;
  }

  &__go-back {
    display: block;
    margin-top: 1rem;
    color: var(--white);
  }
}


