.app-btn {
   --box-shadow-state-active: 1px 1px 10px;
   --box-shadow-state-loading: 0px 0px 5px;

   text-decoration: none;
   color: var(--black-text);
   padding: .65rem;
   background: var(--white);
   border-radius: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: .7rem;
   transform: translateZ(0);
   transition: transform .1s ease-in-out, box-shadow var(--transition-fast);

   &__icon {
      width: .8rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text {
      font-family: var(--font-family-regular);
      font-weight: var(--font-weight-title);
      padding-left: .5rem;
   }


   &.state-active {
       transform: scale(1.2);
   }

   &.state-loading {
      opacity: 1;
   }

   &.state-active.shadow {
      &-pink {
         box-shadow: var(--box-shadow-state-active) var(--shadow-pink);
      }
      &-green {
         box-shadow: var(--box-shadow-state-active) var(--shadow-green);
      }
      &-blue {
         box-shadow: var(--box-shadow-state-active) var(--shadow-blue);
      }
      &-violet{
         box-shadow: var(--box-shadow-state-active) var(--shadow-violet);
      }
   }

   &.state-loading.shadow {
      &-pink {
         box-shadow: var(--box-shadow-state-loading) var(--shadow-pink) inset;
      }
      &-green {
         box-shadow: var(--box-shadow-state-loading) var(--shadow-green) inset;
      }
      &-blue {
         box-shadow: var(--box-shadow-state-loading) var(--shadow-blue) inset;
      }
      &-violet{
         box-shadow: var(--box-shadow-state-loading) var(--shadow-violet) inset;
      }
   }

}
